configs
.idea
.fleet
.venv
secret
CLAUDE.md
/deployment/rundata/
__pycache__/
**/*.pyc
/validation/shapeValidator/conccurrent/parquet_output/dataset_info.txt
/validation/shapeValidator/conccurrent/parquet_output/responses_000000.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000001.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000002.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000003.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000004.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000005.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000006.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000007.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000008.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000009.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000010.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000011.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000012.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000013.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000014.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000015.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000016.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000017.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000018.parquet
/validation/shapeValidator/conccurrent/parquet_output/responses_000019.parquet
