HOST=geocodes-aws-dev.earthcube.org
PROJECT=geocodesexamples
QLEVER_CONFIG=geocodesexamples
#QLEVER_NET=base
#QLEVERUI_SECRET_KEY
# QLEVERUI_CSRF_TRUSTED_ORIGINS
# QLEVERUI_CSRF_TRUSTED_ORIGINS: ${QLEVERUI_CSRF_TRUSTED_ORIGINS:-https://*.geocodes-aws-dev.earthcube.org}



